.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px DarkGreen inset, 0 0 0 0 DarkGreen;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
}

#window
{
  background: LightBlue;
    width: 400px;
    margin: 20px auto;
  height: 350px;
  z-index: 150;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.form
{
  width: 275px;
  margin: -15px auto 20px auto;
  text-align: center;
}

.forma
{
  width: 275px;
  margin: 150px auto 20px auto;
  text-align: center;
}



#gray
{
  background-color: rgba(1,1,1, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  overflow: auto;
}

.close
{
  margin: 10px 0 0 320px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px;
  background: #fff;
}

body
{
  background: black;
}


